# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans. A database is a structured collection of data that is organized, managed, and accessed using specific software. It provides a systematic way to store, retrieve, update, and manage large amounts of information efficiently. Databases are commonly used in various applications and systems to store and manage data in a structured and reliable manner.

Differentiating SQL and NoSQL databases:

SQL (Structured Query Language) Databases:
SQL databases are based on the relational model, where data is organized into tables consisting of rows and columns. They use SQL as the standard language for defining, manipulating, and querying the data. Some characteristics of SQL databases are:

1. Data Structure: SQL databases have a fixed schema where the structure of data is defined in advance, specifying the columns, data types, and relationships between tables.

2. Data Integrity: SQL databases enforce referential integrity through foreign key constraints, ensuring data consistency and preventing orphaned or inconsistent data.

3. ACID Properties: SQL databases generally adhere to the ACID (Atomicity, Consistency, Isolation, Durability) properties, which provide guarantees for transactional integrity.

4. Scalability: SQL databases scale vertically by increasing the hardware resources of a single server. They are suitable for applications with complex relationships between data entities and where data consistency and integrity are critical.

Popular examples of SQL databases include MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.

NoSQL (Not only SQL) Databases:
NoSQL databases depart from the traditional relational model and offer a flexible and schema-less approach for storing and retrieving data. They are designed to handle large amounts of unstructured or semi-structured data. Some characteristics of NoSQL databases are:

1. Flexible Schema: NoSQL databases allow dynamic and unstructured data models, where each record can have a different structure, making them more adaptable to changing data requirements.

2. Horizontal Scalability: NoSQL databases are designed to scale horizontally by distributing data across multiple servers. They are suitable for handling massive amounts of data and providing high scalability and performance.

3. CAP Theorem: NoSQL databases make trade-offs based on the CAP theorem (Consistency, Availability, Partition tolerance). They typically prioritize availability and partition tolerance over strict consistency.

4. Diverse Models: NoSQL databases offer different data models like key-value stores, document stores, columnar databases, and graph databases, allowing developers to choose the model that best suits their application's needs.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans. DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database and its objects, such as tables, indexes, views, and constraints. DDL statements are responsible for creating, modifying, and deleting database objects.

Let's explain the commonly used DDL statements with examples:

1. CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or constraints. Here's an example of creating a table:

```sql
CREATE TABLE Employees (
    id INT,
    name VARCHAR(50),
    age INT,
    salary DECIMAL(10,2)
);
```

In the above example, a table named "Employees" is created with columns "id," "name," "age," and "salary" with their respective data types.

2. DROP:
The DROP statement is used to remove or delete existing database objects. It is used to delete tables, views, indexes, or constraints. Here's an example of dropping a table:

```sql
DROP TABLE Employees;
```

The above statement will remove the "Employees" table from the database, including all its associated data and metadata.

3. ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or indexes. Here's an example of altering a table:

```sql
ALTER TABLE Employees
ADD COLUMN department VARCHAR(50);
```

The above statement adds a new column named "department" of type VARCHAR(50) to the "Employees" table.

4. TRUNCATE:
The TRUNCATE statement is used to remove all the data from a table while keeping its structure intact. Unlike the DROP statement, TRUNCATE retains the table itself, allowing it to be reused without recreating it. Here's an example of truncating a table:

```sql
TRUNCATE TABLE Employees;
```

The above statement removes all the rows from the "Employees" table, but the table structure remains unchanged.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans. DML stands for Data Manipulation Language. It is a subset of SQL (Structured Query Language) used to retrieve, manipulate, and manage data within database objects. DML statements are primarily concerned with the manipulation of data stored in tables.

Let's explain the commonly used DML statements with examples:

1. INSERT:
The INSERT statement is used to insert new rows of data into a table. Here's an example:

```sql
INSERT INTO Employees (id, name, age, salary)
VALUES (1, 'John Doe', 30, 50000);
```

In the above example, a row with the specified values is inserted into the "Employees" table, adding a new employee with an ID of 1, name 'John Doe', age 30, and a salary of 50000.

2. UPDATE:
The UPDATE statement is used to modify existing data in a table. It allows you to change the values of specific columns in one or more rows. Here's an example:

```sql
UPDATE Employees
SET salary = 55000
WHERE id = 1;
```

In the above example, the salary of the employee with ID 1 in the "Employees" table is updated to 55000.

3. DELETE:
The DELETE statement is used to remove one or more rows from a table. It allows you to specify conditions to delete specific rows. Here's an example:

```sql
DELETE FROM Employees
WHERE age > 40;
```

The above statement deletes all rows from the "Employees" table where the age is greater than 40. This removes all employees above the age of 40 from the table.

# Q4. What is DQL? Explain SELECT with an example.
Ans. DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used for retrieving and querying data from a database. DQL statements primarily focus on fetching data from database tables and views.

The most commonly used DQL statement is SELECT. Let's explain it with an example:

The SELECT statement is used to retrieve data from one or more tables or views. It allows you to specify the columns to be selected, the table(s) to query, and optional conditions to filter the data. Here's an example:

```sql
SELECT id, name, age
FROM Employees
WHERE age > 30;
```

In the above example, the SELECT statement is used to retrieve the "id," "name," and "age" columns from the "Employees" table. The WHERE clause is used to specify a condition, filtering the result to only include rows where the age is greater than 30.

The result of the SELECT statement will be a result set, which is a set of rows that match the specified criteria. The result set can be used for further processing, display, or additional SQL operations.

You can also use various other clauses and keywords with SELECT, such as ORDER BY to sort the result set, GROUP BY to group data, JOIN to combine data from multiple tables, and functions to perform calculations or transformations on the data.

Here's an example that demonstrates some additional features:

```sql
SELECT COUNT(*) AS total_employees, department
FROM Employees
WHERE salary > 50000
GROUP BY department
ORDER BY total_employees DESC;
```

In this example, the SELECT statement uses aggregate function COUNT(*) to count the number of employees who have a salary greater than 50000 in each department. The result set will include the total number of employees and the corresponding department. The GROUP BY clause groups the result by department, and the ORDER BY clause sorts the result in descending order of the total number of employees.

# Q5. Explain Primary Key and Foreign Key.
Ans. Primary Key:
A primary key is a column or a combination of columns in a database table that uniquely identifies each row in that table. It serves as a unique identifier for each record and ensures the uniqueness and integrity of the data. Here are some key points about primary keys:

1. Uniqueness: Each value in a primary key column must be unique, meaning no two rows in the table can have the same primary key value.

2. Non-Null: A primary key column cannot contain null values. It must have a value for every row in the table.

3. Indexing: Primary keys are often automatically indexed by the database management system (DBMS) to optimize search and retrieval operations.

4. Constraints: Primary keys can be used as constraints to enforce data integrity and relational integrity within the database.

Foreign Key:
A foreign key is a column or a combination of columns in a table that establishes a link between data in two different tables. It establishes a relationship between two tables based on the values of the foreign key column and the primary key column of the referenced table. Here are some key points about foreign keys:

1. Referential Integrity: A foreign key enforces referential integrity, ensuring that the values in the foreign key column match the values in the primary key column of the referenced table.

2. Relationship: A foreign key establishes a relationship between two tables, representing a connection or dependency between them.

3. Parent and Child Tables: In the relationship between tables, the table containing the primary key is called the parent table, and the table containing the foreign key is called the child table.

4. Cascading Actions: Foreign keys can be configured with cascading actions, such as CASCADE, SET NULL, or SET DEFAULT, to specify the behavior when the referenced record is updated or deleted.

5. Joins: Foreign keys are often used in join operations to retrieve related data from multiple tables based on the defined relationships.

By using primary keys and foreign keys, relational databases can establish relationships between tables, enforce data integrity, and support efficient querying and data retrieval operations. They are fundamental components of database design and play a crucial role in maintaining the integrity and consistency of the data within a relational database.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans. Certainly! To connect MySQL to Python, you need to install the `mysql-connector-python` package, which provides a Python interface for MySQL. Here's an example code snippet that demonstrates how to connect to a MySQL database and execute SQL queries using the `cursor()` and `execute()` methods:

```python
import mysql.connector

# Connect to MySQL
cnx = mysql.connector.connect(
    host="localhost",
    user="your_username",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = cnx.cursor()

# Execute SQL query
query = "SELECT * FROM Employees"
cursor.execute(query)

# Fetch and print the result
result = cursor.fetchall()
for row in result:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()
```

Explanation:

1. First, you need to import the `mysql.connector` module to use its functionalities.

2. Use the `mysql.connector.connect()` method to establish a connection to your MySQL database. Provide the necessary parameters like the host, username, password, and database name.

3. Create a cursor object using the `cursor()` method. The cursor is used to execute SQL queries and fetch the result.

4. Use the `execute()` method of the cursor object to execute an SQL query. Pass the query as a string parameter.

5. To retrieve the result of the query, use the `fetchall()` method on the cursor object. It fetches all the rows returned by the query as a list of tuples.

6. Iterate over the result and print each row.

7. Finally, close the cursor and the database connection using the `close()` method.

The `cursor()` method creates a cursor object that allows you to execute SQL statements and manage the result set. It provides methods like `execute()`, `fetchall()`, `fetchone()`, etc., to interact with the database.

The `execute()` method is used to execute an SQL query. It takes the SQL query as a string parameter and sends it to the MySQL database for execution. You can also pass parameters to the query using placeholders and provide the values using a tuple or dictionary. The `execute()` method returns `None` but has side effects, such as modifying the database or fetching data.

Remember to replace `"your_username"`, `"your_password"`, and `"your_database"` with your actual MySQL credentials and database name.

Make sure you have the `mysql-connector-python` package installed. You can install it using pip:

```
pip install mysql-connector-python
```

# Q7. Give the order of execution of SQL clauses in an SQL query.
Ans. The order of execution of SQL clauses in an SQL query is generally as follows:

1. FROM: Specifies the table(s) from which to retrieve the data.
2. JOIN: Performs any necessary table joins to combine data from multiple tables.
3. WHERE: Filters the data based on specified conditions.
4. GROUP BY: Groups the data based on specified columns.
5. HAVING: Filters the grouped data based on specified conditions.
6. SELECT: Specifies the columns to be retrieved from the result set.
7. DISTINCT: Removes duplicate rows from the result set if specified.
8. ORDER BY: Sorts the result set based on specified columns and sort order.
9. LIMIT/OFFSET: Restricts the number of rows returned or specifies a starting point for the result set if applicable.

It's important to note that not all clauses are required in every SQL query, and their presence and order may vary depending on the specific requirements of the query. Additionally, some clauses, such as GROUP BY, HAVING, DISTINCT, ORDER BY, and LIMIT/OFFSET, may or may not be present in a given query.